:root {
    --brown: #2E1114;
    --red: #813234;
    --purple: #64485C;
    --lightPurple: #83677B;
    --blue: #3634cc;
    --grey: #777471;
    --light: #e8f1f2;
    --lightPlaceholder: #ebf1f27c;
}